html,
body {
	--custom-font-family: monospace;
	--custom-bg-color: #222;
	--custom-panel-color: #444;
	--custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
	--custom-color: #fff;
	--custom-color-brand: #24b47e;
	--custom-color-secondary: #666;
	--custom-border: 1px solid #333;
	--custom-border-radius: 5px;
	--custom-spacing: 5px;

	padding: 0;
	margin: 0;
	font-family: var(--custom-font-family);
	background-color: var(--custom-bg-color);
  color: var(--custom-color);
}

* {
	font-family: inherit;
	box-sizing: border-box;
}

html,
body,
#__next {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

body {
  padding: 1em;
}

.app-container {
  & > header {
    & > div {
      display: flex;
      gap: 1em;
      align-items: center;
    }
  }
}
.site-title {
  flex-grow: 2;
  font-size: 2vw;
}

.main-flow {
  margin-inline: auto;
  max-width: 80ch;
}

a {
  color: var(--custom-color-brand);
}
/* Forms */

label {
	display: block;
	margin: 5px 0;
	color: var(--custom-color-secondary);
	font-size: 0.8rem;
	text-transform: uppercase;
}

input {
	width: 100%;
	border-radius: 5px;
	border: var(--custom-border);
	padding: 8px;
	font-size: 0.9rem;
	background-color: var(--custom-bg-color);
	color: var(--custom-color);
}

input[disabled] {
	color: var(--custom-color-secondary);
}

/* Button */

button, .button {
	color: var(--custom-color);
	border: var(--custom-border);
	background-color: var(--custom-bg-color);
  display: block;
  width: 100%;
  text-align: center;
	border-radius: var(--custom-border-radius);
	padding: 0.5rem 1rem;
	cursor: pointer;
	text-align: center;
	font-size: 0.9rem;
	text-transform: uppercase;
  &.primary {
    background-color: var(--custom-color-brand);
    border: 1px solid var(--custom-color-brand);
  }
}

.form-widget {
	display: flex;
	flex-direction: column;
	gap: 20px;
  & > .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #444444;
    text-transform: none !important;
    transition: all 0.2s ease;
    &:hover {
      background-color: #2a2a2a;
    }
    & > .loader {
      width: 17px;
      animation: spin 1s linear infinite;
      filter: invert(1);
    }
  }
}



