@import "$lib/forms.css";

html,
body {
	--custom-font-family: monospace;
	--custom-bg-color: #222;
	--custom-panel-color: #444;
	--custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);
	--custom-color: #fff;
	--custom-color-brand: #24b47e;
	--custom-color-secondary: #666;
	--custom-border: 1px solid #333;
	--custom-border-radius: 5px;
	--custom-spacing: 5px;

	padding: 0;
	margin: 0;
	font-family: var(--custom-font-family);
	background-color: var(--custom-bg-color);
  color: var(--custom-color);
}

* {
	font-family: inherit;
	box-sizing: border-box;
}

html,
body,
#__next {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

body {
  padding: 0;
}

.app-container {
  & > header {
    border-bottom: var(--custom-color-brand) 3px solid;
    padding-block: 1em;
    & > div {
      display: flex;
      gap: 1em;
      align-items: center;
    }
  }
}
.site-title {
  flex-grow: 2;
  font-size: 2vw;
}

.main-flow {
  margin-inline: auto;
  padding-inline: 1em;
  max-width: 90ch;
}

a {
  color: var(--custom-color-brand);
}

/* H**t */
main * + * {
  margin-top: 1.5em;
}

